

<div class="container"  style="display: flex; justify-content: center;  margin-top: 5rem;">
  <div *ngIf="(weatherObs$ | async) as cWeather"   class="card" style="width: 40rem;">

    <div class="card-body">
        <div style=" display: flex; justify-content: center; ">
          <h4 >Current Weather</h4>
        </div>
        
      <div class="container" style="display: flex; flex-direction: column;">
        <img style="width: 100px; height: 100px;" src="{{cWeather?.current?.condition?.icon}}"  >
        <p>
          Temperature: <b>{{cWeather?.current?.temp_f}}&#176;F</b>
        </p>
      </div>
        <p  class="card-text">
          Feels like: <b>{{cWeather?.current?.feelslike_f}}&#176;F</b>
        </p>
        <p class="card-text">
          <b>{{cWeather?.location?.name}}, {{cWeather?.location?.region}}</b>
        </p>
        <div class="card-text text-end">
          <button  routerLink="/weather-details"  class="btn btn-primary " > MORE DETAILS </button>
        </div>
        
      </div>
    
  </div>
</div>

<app-hourly-forecast style="display: flex; justify-content: center; margin-top: 5rem;"></app-hourly-forecast>
<app-weather-forecast style="display: flex; justify-content: center; margin-top: 5rem;"></app-weather-forecast>

<!-- <div class="container" style="margin-top: 100px;" *ngIf="cWeather">
  <h1>feels like: {{cWeather?.current?.feelslike_f}}f</h1>
</div> -->

