<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0" />
<div *ngIf="(weatherObs$ | async) as fWeather" class="card" >
    <div style="display: flex; justify-content: center;">
     
         <h3>
             Hourly Forecast 
         </h3>
         
    </div>
     <div style="display: flex; justify-content: space-around; flex-direction: row; width: 40rem; margin-bottom: 10px;">
         <div *ngFor="let hour of fWeather.forecast.forecastday[0].hour.slice(0,4)"  style=" margin-top: 10px; margin-left: 2rem;">
 
             <div style="border-right: 1px solid black; padding-right: 20px; " >
                 <h5 style="margin-right: 2rem;">{{hour.time| date: 'h'}}</h5>
                 <img src="{{hour.condition.icon}}" alt="">
                 <i class="fa-solid fa-droplet"></i>
                 <h5></h5>
                 <span class="material-symbols-outlined" style="color: #3385ff; ">
                    water_drop
                </span>
                 <p>{{hour.chance_of_rain}}%</p>     
                
                 
             </div>
             
         </div>
         <div style=" display: flex; align-self: flex-end; ">
             <button class="btn btn-primary"> Next 24 Hours</button>
         </div>
    </div>
 </div>
 