
<div *ngIf="(weatherObs$ | async) as fWeather" class="card" >
   <div style="display: flex; justify-content: center;">
    
        <h3>
            Daily Forecast 
        </h3>
        
   </div>
    <div style="display: flex; justify-content: space-around; flex-direction: row; width: 40rem; margin-bottom: 10px;">
        <div *ngFor="let day of fWeather.forecast.forecastday"  style=" margin-top: 10px; margin-left: 2rem;">

            <div style="border-right: 1px solid black; padding-right: 20px; " >
                <h5 style="margin-right: 2rem;">{{day.date | date: 'E d'}}</h5>
                <img src="{{day.day.condition.icon}}" alt="">
                <i class="fa-solid fa-droplet"></i>
                <p>{{day.day.daily_chance_of_rain}}%</p>     
               
                
            </div>
            
        </div>
        <div style=" display: flex; align-self: flex-end; ">
            <button class="btn btn-primary"> 7 Day</button>
        </div>
   </div>
</div>

